body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;

nav ul {
    list-style-type: none;
    padding: 0;
}

}
nav ul li {
    list-style-type: inline;
    padding: 1em;
}

nav a {
    color: #000;
    text-decoration: none;
}

footer {
    background-color: grey;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0%;
}